apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rook-ceph-block-test-pv-claim
  labels:
    app: test-rook-ceph-block-storage
spec:
  storageClassName: {{rook_ceph.block_storage.storage_class.metadata.name | default("rook-ceph-block")}}
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{rook_ceph.block_storage.testpvc.resources.requests.storage | default("20Gi")}}