timezone: Europe/Athens
internal_interface: enp2s0
internal_ip: 172.16.1.{{ groups['kuball'].index(inventory_hostname)+81 }}/24
  #internal_gateway: 
  #internal_dns:
  #wrong_internal_ifcfg_name:
public_interface: enp1s0
public_ip: 192.168.0.{{ groups['kubpublic'].index(inventory_hostname)+81 }}/24
public_gateway: 192.168.0.1
public_dns: 
  - 192.168.0.1
kubectl_user: ktogias
pod_network_cidr: 10.100.0.0/16